<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="space.css">
    <style type="text/css">
      .footer {
        background-image:      url('$renderer.confluenceUri/images/border/border_bottom.gif');
        background-repeat:     repeat-x;
        background-position:   left top;
        padding-top:           4px;
        color:                 #666;
      }
    </style>
    <script type="text/javascript" language="javascript">
      var hide = null;
      var show = null;
      var children = null;
      function initChildren() {
        hide = document.getElementById('hide');
        show = document.getElementById('show');
        children = document.getElementById('children');
        children.style.display = 'none';
        show.style.display = 'inline';
        hide.style.display = 'none';
      }
      function showChildren() {
        children.style.display = 'block';
        show.style.display = 'none';
        hide.style.display = 'inline';
      }
      function hideChildren() {
        children.style.display = 'none';
        show.style.display = 'inline';
        hide.style.display = 'none';
      }
    </script>
    <title>$page.title</title>
  </head>
  <body onload="initChildren()">
    <div id="PageContent">
      <div class="pagecontent">
        <div class="pageheader">
          <span class="pagetitle">$page.title</span>
          <span class="smalltext">($page.space.name)</span>
        </div>
        <div class="pagesubheading">
          $renderer.creationDetails
          $renderer.modificationDetails
        </div>
        <div class="wiki-content">
          $renderer.content
        </div>

        #if ($page.hasChildren())
          <div class="tabletitle">
            Children
            <span class="smalltext" id="show" style="display: inline;">
              <a href="javascript:showChildren()">Show Children</a></span>
            <span class="smalltext" id="hide" style="display: none;">
              <a href="javascript:hideChildren()">Hide Children</a></span>
          </div>
          <div class="greybox" id="children" style="display: none;">
            #set ($children = $page.children)
            #foreach ($child in $children)
              $renderer.linkTo($child)
              <span class="smalltext">($child.space.name)</span>
              <br>
            #end
          </div>
        #end

      </div>
    </div>
    <div class="footer">
      Generated by <a href="http://www.atlassian.com/confluence/">Atlassian
      Confluence</a> (Version: $generalUtil.versionNumber
      Build:#${generalUtil.buildNumber} ${generalUtil.buildDateString})
    </div>
  </body>
</html>